* {
    font-family: 'Roboto', 'sans-serif';

}

.page-main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.block__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
}

.block__description {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.page-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form__block {
    display: flex;
    justify-content: flex-start;
}

.form__image__collection {
    display: flex;
}
.form__promo {
    display: flex;
}
.form__slogan {
    display: flex;
}

.image {
    border-radius: 100%;
}

.image:not(:last-child)  {
    margin-right: -36px;
}